body {
  margin: 0;
  font-family: 'Henny Penny', cursive;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 20px;
}

#trybewarts-header-title {
  color: white;
  margin: 0;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  height: 25px;
}

#login-form-container input[type=text], input[type=password] {
  margin-right: 10px;
  font-family: 'Henny Penny', cursive;
}

#input-email, #input-password {
  height: 25px;
  padding: 5px 10px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid white;
}

#login-form-button {
  border-radius: 10px;
  width: 80px;

  color: white;
  background-color: tomato;
  
  font-weight: 900;
  font-family: 'Henny Penny', cursive;
}

#login-form-button:hover {
  background-color: rgb(255, 174, 160);
  box-shadow: 0 0 4px black;
}

#main-content {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}
