body {
  margin: 0;
  font-family: 'Henny Penny', cursive;
  background-color: tomato;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 20px;
}

#trybewarts-header-title {
  color: white;
  margin: 0;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  height: 25px;
}

#login-form-container input[type=text], input[type=password] {
  margin-right: 10px;
  font-family: 'Henny Penny', cursive;
}

#input-email-header, #input-password {
  height: 25px;
  padding: 5px 10px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid white;
}

#login-form-button {
  border-radius: 10px;
  width: 80px;

  color: white;
  background-color: tomato;
  
  font-weight: 900;
  font-family: 'Henny Penny', cursive;
}

#login-form-button:hover {
  background-color: rgb(255, 174, 160);
  box-shadow: 0 0 4px black;
}

#main-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 85px;
}

#input-name, #input-lastname, #input-email {
  height: 25px;
  padding: 5px 10px;
  /* width: 200px; */
  border-radius: 10px;
  border: 1px solid white;
  font-family: 'Henny Penny', cursive;
}

#name-div {
  display: flex;
  margin-bottom: 10px;
}

#input-name {
  flex-grow: 1;
  margin-right: 10px;
}

#input-lastname {
  flex-grow: 1;
}

#email-div {
  align-items: center;
  display: flex;

}

#input-email {
  flex-grow: 1;
  margin-right: 10px;
}

#div-house {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#house {
  background-color: white;
  /* width: 176px; */
  padding: 5px 10px;
  border-radius: 10px;
  border: hidden;
  font-family: 'Henny Penny', cursive;
  flex-grow: 1;
}

hr {
  width: 400px;
  border: 1px solid white;
}

#container {
  display: flex;
  flex-direction: column;
  width: 275px;
  
}

#label-content {
  width: 300px;
}

#container2 {
  display: flex;
  flex-wrap: wrap;
  width: 265px;
}

#containerM {
  display: flex;
  width: 586px;
  justify-content: space-between;
}

#avaliacao {
  display: flex;
}

#id-textarea {
  display: flex;
  flex-direction: column;
}

#textarea {
  width: 586px;
}

#submit-btn {
  padding: 10px 5px;
  background-color: rgb(95, 22, 95);
  color: white;
  border-radius: 10px;
  margin: 10px;
  border: hidden;
}