body {
  margin: 0;
  font-family: Henny Penny, cursive;
  background-color: tomato;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 20px;
}

#trybewarts-header-title {
  color: white;
  margin: 0;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  height: 25px;
}

#login-form-container #input-email-header , #input-password {
  margin-right: 10px;
  font-family: Henny Penny, cursive;
  height: 25px;
  padding: 5px 10px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid white;
}

#login-form-button {
  border-radius: 10px;
  width: 80px;
  color: white;
  background-color: tomato;
  font-weight: 900;
  font-family: Henny Penny, cursive;
}

#login-form-button:hover {
  background-color: rgb(255, 174, 160);
  box-shadow: 0 0 4px black;
}

#main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

#main-content h2 {
  text-align: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin-right: 100px;
}

#input-name , #input-lastname , #input-email {
  height: 25px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid white;
  font-family: Henny Penny, cursive;
}

#name-div {
  display: flex;
  margin-bottom: 10px;
}

#input-name {
  flex-grow: 1;
  margin-right: 10px;
}

#input-lastname {
  flex-grow: 1;
}

#email-div {
  align-items: center;
  display: flex;

}

#input-email {
  flex-grow: 1;
  margin-right: 10px;
}

#div-house {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

#house {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: hidden;
  font-family: Henny Penny, cursive;
  flex-grow: 1;
}

hr {
  width: 675px;
  margin: 20px 0;
  border: 1px solid white;
}

#container {
  display: flex;
  flex-direction: column;
}

#label-content {
  width: 350px;
}

#container2 {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

#containerM {
  display: flex;
  justify-content: space-around;
}

#avaliacao {
  display: flex;
  margin-bottom: 10px;
}

#id-textarea {
  display: flex;
  flex-direction: column;
}

#counter {
  margin: 0;
  align-self: flex-end;
}

#textarea {
  flex-grow: 1;
}

#submit-btn {
  padding: 10px 5px;
  background-color: rgb(85, 29, 85);
  color: white;
  border-radius: 10px;
  margin: 10px;
  border: hidden;
}

#trybewarts-forms-logo {
  height: 500px;
}

#footer {
  background-color: rgb(77, 81, 85);
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

.div-after-submit {
  border: 1px solid red;
  border-radius: 10px;
  width: 675px;
}
